body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:dark red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    text-align: center;
    background-color: yellow;
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0);
}
input{
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 200px;
    font-size: 16px;
}
button{
    background-color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 100px;
    color: yellow;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
ul{
    padding: 10px;
    margin: 10px;
}
li{
    padding: 10px;
    margin: 5px;
    background-color: azure;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.completed{
    text-decoration: line-through;
    color: red;
}
#filterall{
    background-color:  blue;

}
#filtercompleted{
    background-color: red;
}
#filterpending{
    background-color: green;
}